<div class="form-box" id="login-box" >
    <div class="header">Sign In</div>
    <form ng-submit="login(login,password)">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="userid" class="form-control" ng-model="username"  placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password"/>
            </div> 
        </div>
        <div class="footer">                                                               
            <button type="submit" class="btn bg-olive btn-block" ng-click="">Login</button>  
            <p> {{loginError}}  {{loggedUser}}</p>
            <p><a href="#">I forgot my password</a></p>
        </div>
    </form>
</div>  